.ineo{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: transform 200ms ease;

    .ineo-input{
        width: 100%;
        min-height: 100%;
        padding: 0 2em;
        
        resize: none;

        border: none;
        outline: none;
    }
}